@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0px;
  background-color: #00001f;
  font-family: "Barlow Condensed", sans-serif;
  color: #efefef;
  scrollbar-color: #303038 #0e0e0e;
}
.video-icon {
  background-color: transparent;
  transform: translate(15px, 2px);
}

.video-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #4a4c4e;
  border: 1px solid #303038;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: background-color 0.5s, ease;
  padding: 20px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 3px;
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
}

.video-button:hover {
  border-bottom: 1px solid white;
  background-color: #303038;
}

.video-options {
  position: absolute;
  z-index: 2;
}

.video-description {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  width: 50%;
  z-index: 2;
  background-color: transparent;
}

.video-title {
  background-color: transparent;
  font-size: 4rem;
}

.video-paragraph {
  background-color: transparent;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.video-container {
  position: absolute;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 94%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.video {
  background-color: black;
  transform: scale(1.8);
  width: 80%;
  height: 100%;
}

.archive-container {
  display: flex;
  flex-direction: column;
  background-color: #0e0e0e;
}
.archive-container.-title {
  padding: 2px;
  font-weight: 300;
  background-color: #303038;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.archive-container.-year {
  height: auto;
  font-weight: 400;
  background-color: transparent;
}
.archive-container.-list {
  list-style: none;
  padding: 5px;
  background-color: transparent;
}
.archive-container.list-item {
  background-color: transparent;
}
.archive-container.-date-list {
  background-color: transparent;
}

.category-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0e0e0e;
  border-bottom: 1px solid #4a4c4e;
  border-radius: 4px;
}
.category-container.-tag-list {
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  background-color: transparent;
}
.category-container.-tag {
  background-color: #303038;
  padding: 2px;
  margin: 2px;
  width: 100px;
}
.category-container.-title {
  display: flex;
  font-weight: 300;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 0px;
  background-color: #303038;
  border-bottom: 1px solid #4a4c4e;
}

.text-none {
  background-color: transparent;
}

.control-panel {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  background-color: #303038;
  margin: 10px;
  border-radius: 4px;
  width: auto;
  justify-content: space-between;
  height: 100%;
  z-index: 2;
}
.control-panel.-container {
  margin: 0px;
  background-color: transparent;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.control-panel.-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  border-radius: 0px;
  list-style: none;
  padding: 4px;
  height: auto;
  background-color: #4a4c4e;
  width: 30px;
}
.control-panel.-list-option {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
  width: 30px;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}
.control-panel.-controls {
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Ubuntu", sans-serif;
  margin: 6px;
  width: 100%;
  height: auto;
  padding: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: transparent;
  border-radius: 0px;
  border: 1px solid #4a4c4e;
  display: flex;
}

.control-icon {
  padding: 2px;
  margin: 1px;
  background-color: transparent;
  border-radius: 4px;
}

.control-panel-description {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 2px;
  text-align: center;
  font-size: 0.6rem;
  background-color: #13235e;
  z-index: 2;
}

.background-img {
  height: 100%;
}
@media (max-width: 576px) {
  .background-img {
    width: 100%;
    height: auto;
  }
}

.background-container {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  transform: translateY(-400px);
  height: 60%;
  z-index: 1;
}

.input-container {
  width: 150px;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}

.input-field {
  width: 100%;
  font-size: 0.6rem;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #0e0e0e;
  border-radius: 4px;
  padding: 6px;
  border: 1px solid #4a4c4e;
  transition: 0.1s, ease-in;
}
@media (max-width: 576px) {
  .input-field {
    width: auto;
  }
}

.input-icon {
  background-color: transparent;
  position: absolute;
  transform: translate(-10px, 6px);
}

.viewer-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 60%;
}
@media (max-width: 576px) {
  .content-container {
    width: 85%;
  }
}

.content-img {
  width: 100%;
}

.content-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.content-item.-left {
  justify-content: flex-start;
}
.content-item.-right {
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.content-item.-center {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content-frame {
  width: 60%;
}
@media (min-width: 1024px) {
  .content-frame {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .content-frame {
    width: 90%;
  }
}

.content-paragraph {
  display: flex;
  width: 100%;
  padding: 5px;
}

.text {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: transparent;
}
.text.-small {
  font-size: 16px;
}
.text.-extra-small {
  font-size: 12px;
}
.text.-medium {
  font-size: 24px;
}
.text.-large {
  font-size: 32px;
}

.arrows {
  display: flex;
  background-color: transparent;
  width: 14px;
}

.navbar-menu {
  z-index: 3;
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translate(-80px, 80px);
}

.navbar {
  background-color: #303038;
  display: flex;
  position: sticky;
  top: 0px;
  gap: 4px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  list-style: none;
  text-decoration: none;
}
.navbar.-black {
  background-color: black;
}
.navbar.-burger {
  background-color: transparent;
  position: relative;
  box-shadow: none;
  flex-direction: row;
}
.navbar.-list {
  background-color: transparent;
  -webkit-user-drag: none;
  border-bottom: 1px white solid;
  border-width: 1px;
  box-shadow: none;
  transition: 0.1s ease-in;
}
.navbar.-list:hover {
  border-bottom: 1px black solid;
  border-width: 0px;
}
.navbar.-burger-list {
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  box-shadow: none;
  text-align: start;
}
.navbar.-burger-list:hover {
  background-color: #4a4c4e;
  padding: 5px;
  border-radius: 4px;
}
.navbar.-img {
  background-color: transparent;
  cursor: pointer;
  box-shadow: none;
  height: 25px;
  padding-left: 30px;
}
.navbar.-none {
  background-color: transparent;
  box-shadow: none;
  padding: 6px;
}
.navbar.-item-menu {
  position: absolute;
  transform: translate(-110px, 38px);
  width: 100px;
  height: auto;
  padding: 4px;
  border-radius: 4px;
}
.navbar.-item-list {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding: 0px;
  box-shadow: none;
}
.navbar.-item {
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  width: 90px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  justify-content: space-between;
}
.navbar.-item:hover {
  background-color: #120d5b;
  border-radius: 2px;
}
.navbar.-item-text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  font-size: 0.6rem;
  width: 100%;
  box-shadow: none;
  background-color: transparent;
}
@media (max-width: 576px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    padding: 0px;
  }
  .navbar.-img {
    padding: 10px;
    width: auto;
    height: 36px;
  }
  .navbar.-burger {
    width: auto;
    padding: 10px;
    transform: translate(0px, 0px);
  }
  .navbar.-item-menu {
    padding: 10px;
    transform: translate(70px, 60px);
  }
}

.tag-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  padding: 0px;
}

.tag {
  display: flex;
  list-style: none;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 100;
  padding: 4px;
  margin: 6px;
  color: white;
  background-color: #303038;
  border: 1px #4a4c4e solid;
  border-radius: 3px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
}

.view-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, 300px);
  width: 70%;
  justify-items: center;
  padding: 10px;
}
@media (min-width: 1024px) {
  .view-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 576px) {
  .view-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

.footer-develop {
  background-color: transparent;
  padding: 6px;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-bottom: 1px solid white;
  z-index: 2;
}

.footer-description {
  z-index: 2;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.footer-copyright {
  margin-top: 4px;
  z-index: 2;
  border-top: 1px solid #4a4c4e;
  background-color: transparent;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  padding: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
}

.footer {
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: 1px solid #303038;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  height: 50px;
  padding-top: 10px;
}

.footer-icon {
  z-index: 2;
  padding: 5px;
  background-color: transparent;
}

.footer-list {
  z-index: 2;
  background-color: transparent;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0px;
}
.footer-list-item {
  background-color: transparent;
  border-radius: 5px;
  height: 24px;
  font-family: "Quicksand", sans-serif;
  color: white;
  display: flex;
  justify-items: center;
  padding: 3px;
}
.card-paragraph {
  width: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.card-container {
  cursor: pointer;
  z-index: 2;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  flex-direction: column;
  background-color: #0e0e0e;
  border-bottom: 1px #4a4c4e solid;
  transition: 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 0px;
  padding: 4px;
  width: 100%;
  height: 100%;
}
@media (max-width: 576px) {
  .card-container {
    width: 95%;
  }
}
.card-container:hover {
  border-bottom: white 1px solid;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #4a4c4e;
}

.img {
  width: 100%;
}/*# sourceMappingURL=index.css.map */