//responsiveness

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import './variables.scss';
* {
    margin: 0px;
    background-color: #051015;
    color: #efefef;
    @media (min-width: $desktop){

    }
    @media(max-width: $mobile){

    }
}
.viewer-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.content-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 60%;
}
.content-img {
    width: 100%;
}
.content-item {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    padding:10px;
    &.-left {
        justify-content: flex-start;
    }
    &.-right {
        justify-content: flex-end;
        flex-direction: row-reverse;
    }
}
.content-frame {
    width: 60%;
}

.content-paragraph{
    display: flex;
    width: 100%;
    padding:5px;
}

.text {
    //default
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: transparent;
    &.-small{
        font-size: 16px;
    }
    &.-extra-small {
        font-size: 12px;
    }
    &.-medium {
        font-size: 24px;
    }
    &.-large {
        font-size: 32px;
    }
}
.navbar {
    display: flex;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
   // background-color: #cfecfc;
    list-style: none;
    text-decoration: none;
    &.-list {
        //color: black;
        -webkit-user-drag: none;
        border-bottom: 1px white solid;
    }
    &.-img {
        height: 40px;
    }
}

.tag-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
    padding: 0px;
}
.tag {
    display: flex;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    padding: 3px;
    margin: 5px;
    color: white;
    border: 1px white solid;
    border-radius: 6px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    grid-auto-rows: minmax(100px, 300px);
    //background-color: yellow;

    justify-items: center;
    padding: 10px;
    @media (min-width: $desktop){
        grid-template-columns: repeat(5, 1fr);
    }
    @media(max-width: $mobile){
        grid-template-columns: repeat(1, 1fr);
    }
}

.footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
}
.card-paragraph {
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.card-container {
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    //background-color: orange;
    transition: 0.5s ease;
    user-select: none;
    //border
    border-radius: 5px;
    padding:5px;
    // border: 1px solid white;
    width: 100%;
    height: 100%;
    &:hover {
        background-color: rgb(55, 55, 55);
    }
}
.img-container {
    display: flex;
    justify-content: center;
    width: 90%;
    overflow: hidden;
}
.img {
    width: 100%;
}