//responsiveness

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import './variables.scss';
* {
    margin: 0px;
    background-color: #051015;
    color: #efefef;
    @media (min-width: $desktop){

    }
    @media(max-width: $mobile){

    }
}
.viewer-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.content-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 60%;
    @media (min-width: $desktop){

    }
    @media(max-width: $mobile){
       width:95%;
    }
}
.content-img {
    width: 100%;
}
.content-item {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    padding:10px;
    &.-left {
        justify-content: flex-start;
    }
    &.-right {
        justify-content: flex-end;
        flex-direction: row-reverse;
    }
    &.-center{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
.content-frame {
    width: 60%;
    @media (min-width: $desktop){
        width: 60%;
    }
    @media(max-width: $mobile){
        width: 90%;
    }
}

.content-paragraph{
    display: flex;
    width: 100%;
    padding:5px;
}

.text {
    //default
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: transparent;
    &.-small{
        font-size: 16px;
    }
    &.-extra-small {
        font-size: 12px;
    }
    &.-medium {
        font-size: 24px;
    }
    &.-large {
        font-size: 32px;
    }
}

//navbar component
.navbar-menu{
    z-index: 3;
    position: absolute;
    width:100px;
    height:100px;
    transform: translate(-80px,80px);
}
.navbar {
    display: flex;
    position: sticky;
    top:0px;
    gap:10px;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
   // background-color: #cfecfc;
    list-style: none;
    text-decoration: none;
    &.-burger{
        position: relative;
        flex-direction: column;
    }
    &.-list {
        -webkit-user-drag: none;
        border-bottom: 1px white solid;
        border-width: 1px;
        transition: 0.1s ease-in;
        &:hover{
            border-bottom: 1px black solid;
            border-width: 0px;
        }
        margin-left: 20px;
    }
    &.-burger-list{
        padding:5px;
        text-align: start;
    }
    &.-img {
        height: 40px;
    }
    @media (min-width: $desktop){
        padding: 4px;
    }
    @media(max-width: $mobile){
        flex-direction: row;
        padding: 10px;
    }
}

.tag-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
    padding: 0px;
}
.tag {
    display: flex;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    padding: 3px;
    margin: 5px;
    color: white;
    border: 1px white solid;
    border-radius: 6px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    grid-auto-rows: minmax(100px, 300px);
    //background-color: yellow;

    justify-items: center;
    padding: 10px;
    @media (min-width: $desktop){
        grid-template-columns: repeat(5, 1fr);
    }
    @media(max-width: $mobile){
        grid-template-columns: repeat(1, 1fr);
    }
}
//footer
.footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.footer-list{
    list-style: none;
    display: flex;
    gap:10px;
    flex-direction: row;
    padding:0px;
    @media (min-width: $desktop){
        flex-direction: row;
    }
    @media(max-width: $mobile){
        flex-direction: column;
    }
}
.footer-list-item{
    border-radius: 5px;
    height:24px;
    font-family: "Quicksand", sans-serif;
    border: 1px white solid;
    color:white;
    text-align: center;
    display: flex;
    justify-items: center;
    padding:3px;
    @media (min-width: $desktop){
    
    }
    @media(max-width: $mobile){
       
    }
}
.card-paragraph {
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.card-container {
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    //background-color: orange;
    transition: 0.2s ease-in-out;
    user-select: none;
    //border
    border-radius: 5px;
    padding:5px;
    // border: 1px solid white;
    width: 100%;
    height: 100%;
    @media (min-width: $desktop){
    }
    @media(max-width: $mobile){
        width: 95%;
    }
    &:hover {
        padding:3px;
        border: white 1px solid;
        background-color: rgb(55, 55, 55);
    }
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
.img {
    width: 100%;
}